html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body, p {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    color: #8C8C8C;
    line-height: 24px;
}


h1,h2,h3,h4,.logo {
    margin:0;
    font-family: 'Raleway';
    letter-spacing: 0;
    text-align: center;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

button {
    width: 170px;
    height: 50px;
    font-family: 'Raleway';
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    line-height: 23px;
    color: white;
    border-radius: 5px;
    background: linear-gradient(0deg, #998675, #998675);
    box-shadow: inset 0px -3px 0px #736357;
}

.first-block {
    min-height: 100vh;
    background: url(../img/bg_hero.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 70px;
}

.wrapper {
    max-width: 1230px;
    margin: 0 auto;
}

/* HEADER STYLES START */

.header__wrap {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3%;
    align-items: center;
    justify-content: space-around;
}

.page-header {
    width: 100%;
}

.header__nav {
    display: flex; 
    width: 770px;
    justify-content: space-between;

}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    width: 637px;
    justify-content: space-between;
    list-style: none;
    font-weight: 300;
}

.nav-menu__link {
    color: #FFFFFF;

}

.nav-menu__link:hover, .nav-menu__link:focus, .nav-menu__link:active {
    color: #C7B299;
}

/* HEADER STYLES END */

/* HERO STYLES START */
.hero {
    min-height: 100vh;
    max-width: 640px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero__content {
    height: 261px;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero__subtitle{
    font-weight: 500;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 42px;
}

.hero__title {
    font-weight: 800;
    font-size: 52px;
    line-height: 60px;
    color: #FFFFFF;
    }

.hero__slogan {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 24px;
    }

.get-started {
    height: 53px;
}


/* MEDIA QUERIES CSS START*/

@media screen and (min-width:992px) and (max-width: 1230px) {
    .header__wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 991px) {
        
    .header__wrap {
        flex-direction: column;
        align-items: baseline;
        flex-wrap: nowrap;
    } 
    .header__logo {
        width: 100%;
        text-align: center;
    }
    .header__nav {
        display: block;
        margin-left: auto;
        width: 100px;
        text-align: end;
        margin-right: 40px
    }
       
    .nav-menu {
        display: block;
        width:100%;
    }

    .nav-menu :last-child {
        margin-bottom: 10px;
    }

    .search {
        padding-left:10px;
    }

    .hero__content {
        margin-bottom: 60%;
    }

    .hero__subtitle {
        font-size: 30px;
        line-height: 36px;
    }

    .hero__title {
        font-size: 46px;
        line-height: 54px;
    }

    .hero__slogan {
        font-size: 14px;
        line-height: 22px;
    }
}

@media screen and (max-width: 425px) {

    body {
        font-size: 12px;
        line-height: 20px;
    }

    .hero__subtitle {
        font-size: 24px;
        line-height: 30px;
    }

    .hero__title {
        font-size: 40px;
        line-height: 48px;
    }

    .hero__slogan {
        font-size: 12px;
        line-height: 20px;
    }
}

/* MEDIA QUERIES CSS END*/
