/* .grid {
    width: 1230px;
    height: 6970px;
} */


/*.mountains {
    background-image: url("img/bg_mountains.png");
} */

/* header {
    background: #000000;
} */

body {
    width: 1920px;
    height:6351px;
    margin: 0;
    padding: 0;
    /* background-image: url("img/bg_mountains.png"); */
    background-repeat: no-repeat;
}

a {
    text-decoration:  none;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: Raleway;
    font-weight: 800;
    font-size: 52px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin:0;
    /* text-align: center; */
}

h2 {
    font-family: Raleway;
    font-weight:500;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    /* text-align: center; */
    margin:0;
}

p {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    /* text-align: center; */
    line-height: 24px;
}

.navigation {
    display: grid;
    /* grid-template-columns: 181px 667px 18px 24px; */
    grid-template-columns: 400px 700px 46px 24px;
    width: 1170px;
    /* margin: 0; */
    margin-left: 376px;
}

.logo-container {
    display: flex;
    margin:0;
    margin-top: 40px;
    height: 56px;
    border: 2px solid blue;
}

/* .logo-img {} */

.waxom {
    font-family: Raleway-Regular;
    font-size: 34px;
    color: #FFFFFF;
    letter-spacing: -1.36px;
    text-align: right;
    align-self: flex-end;
}

.menu {
    display: flex;
    margin: 0;
    padding:0;
    margin-top: 61px;
    height: 19px;
    align-items: flex-start;
    border: 2px solid coral;
    /* margin-right: 63px; */
}

.menu__item {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-right: 30px;
    white-space: nowrap;
    border: 2px solid green;
}



 .active {
    font-family: Montserrat Light;
    font-size: 14px;
    color: #C7B299;
    letter-spacing: 0;
}

.cart {
    margin-top: 55px;
    border: 2px solid skyblue;
}

.search {
    margin-top: 55px;
    border: 2px solid violet;
}

.slogan {
    text-align: center;
    width: 619px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 285px;
    border: 2px solid violet;
}

.get_started {
    height: 53px;
    width:170px;
    margin-left: auto;
    margin-right:auto;

}



